/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.w75{
    width: 75px;
}

.w100{
    width: 100px;
}
.w120{
    width: 120px;
}
.w400{
    width: 400px;
}

.cursor{
    cursor: pointer;
}

.anchoTotal {
    width: 100%;
}


tr.example-element-row:not(.example-expanded-row):hover {
    background: whitesmoke;
    cursor: pointer;
}
  
tr.example-element-row:not(.example-expanded-row):active {
    background: #efefef;
}
  
.example-element-row td {
    border-bottom-width: 0;
}
